@charset "UTF-8";

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-VariableFont_wght.woff2") format("woff2"), url("../fonts/Manrope-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.active__list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #fff;
}

.title {
  font-weight: 600;
  line-height: 120%;
}

.footer-title {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.text {
  font-weight: 500;
  color: #080055;
  line-height: 160%;
}

.btn {
  border-radius: 20px;
  padding: 1rem 1.25rem;
  text-align: center;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.more-btn {
  background: #8B43FF;
  color: #fff;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.more-btn:hover {
  background: #7722ff;
}

.logo {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

a,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bold-text {
  font-weight: 700;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  margin-top: 10px;
  padding: 1.625rem 0rem 1.625rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(53, 0, 95, 0.25)), to(rgba(53, 0, 95, 0.25))), -webkit-gradient(linear, left top, right top, color-stop(0.77%, rgba(208, 132, 255, 0.8)), color-stop(98.24%, rgba(106, 71, 248, 0.8)));
  background: -o-linear-gradient(bottom, rgba(53, 0, 95, 0.25), rgba(53, 0, 95, 0.25)), -o-linear-gradient(left, rgba(208, 132, 255, 0.8) 0.77%, rgba(106, 71, 248, 0.8) 98.24%);
  background: linear-gradient(0deg, rgba(53, 0, 95, 0.25), rgba(53, 0, 95, 0.25)), linear-gradient(90deg, rgba(208, 132, 255, 0.8) 0.77%, rgba(106, 71, 248, 0.8) 98.24%);
  border-radius: 20px;
}

.header__logo {
  z-index: 100;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item {
  font-weight: 700;
  position: relative;
  display: inline-block;
  height: 100%;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__item:hover {
  color: rgb(216, 216, 216);
}

.menu__item::after {
  content: "";
  display: block;
  position: absolute;
}

.menu__item-line::after {
  position: relative;
  bottom: -2px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu__item-line:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu__link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: -o-linear-gradient(332.93deg, #D298F5 12.17%, #7958D9 52.09%, #4A88D1 89.67%);
  background: linear-gradient(117.07deg, #D298F5 12.17%, #7958D9 52.09%, #4A88D1 89.67%);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 0.625rem;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  gap: 10px;
  font-weight: 600;
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__connection-content {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.footer__social-networks-content {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 120px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
}

.connection {
  font-weight: 300;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.connection:hover {
  color: rgb(199, 199, 199);
}

.icon__social-networks {
  width: 24px;
  height: 24px;
  fill: #fff;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.icon__social-networks:hover {
  fill: rgb(177, 177, 177);
}

.welcome__page {
  background: -o-linear-gradient(332.93deg, #D298F5 12.17%, #7958D9 52.09%, #4A88D1 89.67%);
  background: linear-gradient(117.07deg, #D298F5 12.17%, #7958D9 52.09%, #4A88D1 89.67%);
}

.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.welcome__block-title {
  color: #fff;
  border-radius: 74px;
  padding: 40px;
}

.welcome__title {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-shadow: 4px 2px 21px rgba(255, 255, 255, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.welcome__title::after {
  content: "";
  width: 80%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  right: 9%;
  border-radius: 50px;
}

.welcome__btn {
  padding: 1.25rem 3.125rem;
  background: rgba(19, 19, 19, 0.3);
  border-radius: 20px;
  font-weight: 400;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
  color: #fff;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.welcome__btn:hover {
  background: rgba(96, 69, 175, 0.7333333333);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 120px;
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__title {
  display: inline-block;
  color: #8B43FF;
  font-size: 1.5625rem;
}

.info__text {
  margin-top: 3.125rem;
}

.info .text-info {
  margin-bottom: 4.375rem;
  max-width: 560px;
}

.img__img {
  max-width: 100%;
  max-height: 100%;
  min-width: 130px;
  min-height: 130px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about-us__title {
  position: relative;
  text-align: center;
  color: #7019FF;
  margin-bottom: 80px;
}

.about-us__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__list::after {
  content: "";
  display: block;
  position: absolute;
  background: #7958D9;
  width: 2px;
  height: 100%;
  right: 50%;
}

.about-us__list::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: calc(50% - 14px);
  width: 30px;
  height: 30px;
  background: #7958D9;
  border-radius: 50%;
}

.about-us__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__item::after {
  content: url("../img/about-us/arrow.svg");
  display: block;
  width: 100px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 11%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.about-us__item:nth-child(odd) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: justify;
}

.about-us__item:nth-child(even) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: justify;
}

.about-us__item:nth-child(even)::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.item-about-us__title {
  color: #7019FF;
  text-align: center;
  max-width: 340px;
}

.item-about-us__text {
  max-width: 400px;
}

.welcome-banner {
  margin-top: 150px;
  height: 471px;
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, filter 0.3s ease 0s;
  transition: transform 0.3s ease 0s, filter 0.3s ease 0s;
  transition: transform 0.3s ease 0s, filter 0.3s ease 0s, -webkit-transform 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
}

.welcome-banner:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(120%);
          filter: contrast(120%);
}

.welcome-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: inherit;
  position: relative;
  z-index: 2;
}

.welcome-banner__title {
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 3px 2px 21px rgba(255, 255, 255, 0.5);
}

.no-webp .banner-team{
  background: url("../img/teambg.jpg") 0 100%/cover no-repeat; }

.no-webp .banner-portfolio{
  background: url("../img/portfoliobg.png") 0 100%/cover no-repeat; }

.team {
  margin: 100px 0px;
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(113, 132, 249, 0.8));
          filter: drop-shadow(5px 5px 10px rgba(113, 132, 249, 0.8));
}

.grid__cell {
  padding: 20px;
}

.grid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.grid__img {
  max-width: 300px;
  max-height: 300px;
}

.grid__team-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.grid__subtitle {
  font-size: 1.25rem;
}

.grid__button {
  max-width: 100px;
}

@media (min-width: 75em) {
  .title {
    font-size: 1.875rem;
  }

  .footer-title {
    font-size: 1.25rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .btn {
    font-size: 1.3125rem;
  }

  .logo {
    width: 4.375rem;
  }

  .logo {
    height: 3.75rem;
  }

  .header__container {
    padding-left: 1.25rem;
  }

  .header__container {
    padding-right: 1.25rem;
  }

  .menu__list {
    gap: 2.8125rem;
  }

  .menu__item {
    font-size: 1.375rem;
  }

  .footer__logo {
    font-size: 1.25rem;
  }

  .footer__contents {
    gap: 6.25rem;
  }

  .connection {
    font-size: 1.125rem;
  }

  .welcome__page {
    padding-top: 12.5rem;
  }

  .welcome__content {
    gap: 8.125rem;
  }

  .welcome__block-title {
    padding: 3.125rem;
  }

  .welcome__title {
    font-size: 10rem;
  }

  .welcome__btn {
    margin-bottom: 3.125rem;
  }

  .info__container {
    margin-top: 3.75rem;
  }

  .info__container {
    padding-top: 2.5rem;
  }

  .about-us__container {
    margin-top: 6.25rem;
  }

  .about-us__list {
    gap: 1.875rem;
  }

  .about-us__list {
    padding-bottom: 6.25rem;
  }
}

@media (max-width: 1169.98px) {
  .header__container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0;
  }
}

@media (max-width: 999.98px) {
  .about-us__item::after {
    content: url("../img/about-us/mini-arrow.svg");
  }
}

@media (max-width: 836.98px) {
  .about-us__list::after {
    display: none;
  }

  .about-us__list::before {
    display: none;
  }

  .about-us__item::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

@media (max-width: 525.98px) {
  .footer__contents {
    margin-top: 10px;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.25rem;
  }

  .footer-title {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
  }

  .logo {
    width: 3.125rem;
  }

  .logo {
    height: 2.5rem;
  }

  .header__container {
    padding-left: 0.625rem;
  }

  .header__container {
    padding-right: 0.625rem;
  }

  .menu__list {
    gap: 0.625rem;
  }

  .menu__item {
    font-size: 0.75rem;
  }

  .footer__logo {
    font-size: 0.9375rem;
  }

  .footer__contents {
    gap: 1.25rem;
  }

  .connection {
    font-size: 1rem;
  }

  .welcome__page {
    padding-top: 6.25rem;
  }

  .welcome__content {
    gap: 5rem;
  }

  .welcome__block-title {
    padding: 1.875rem;
  }

  .welcome__title {
    font-size: 3.5rem;
  }

  .welcome__btn {
    margin-bottom: 6.25rem;
  }

  .info__container {
    margin-top: 2.5rem;
  }

  .info__container {
    padding-top: 0.625rem;
  }

  .about-us__container {
    margin-top: 2.5rem;
  }

  .about-us__list {
    gap: 3.75rem;
  }

  .about-us__list {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .img__img {
    margin-top: 40px;
  }
}

@media (max-width: 47.99875em) {
  .header._header-scroll {
    position: fixed;
    top: -200%;
    background-color: rgba(19, 19, 19, 0.8);
    border-radius: 20px;
  }

  .header._header-show {
    -webkit-transition: top 1s ease 0s;
    -o-transition: top 1s ease 0s;
    transition: top 1s ease 0s;
    top: 0;
  }

  .footer__container {
    padding-left: 0.625rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 1169.98px) {
  .header._header-scroll {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .title {
      font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
    .title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .footer-title {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .footer-title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .text {
      font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.8863636364rem  +  0.5681818182vw , 1.3125rem )) {
    .btn {
      font-size: clamp( 1rem , 0.8863636364rem  +  0.5681818182vw , 1.3125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8863636364rem  +  0.5681818182vw , 1.3125rem )) {
    .btn {
      font-size: calc(1rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem )) {
    .logo {
      width: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.6704545455rem  +  2.2727272727vw , 4.375rem )) {
    .logo {
      width: calc(3.125rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .logo {
      height: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (height: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .logo {
      height: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .header__container {
      padding-left: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .header__container {
      padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .header__container {
      padding-right: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.3977272727rem  +  1.1363636364vw , 1.25rem )) {
    .header__container {
      padding-right: calc(0.625rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.625rem , -0.1704545455rem  +  3.9772727273vw , 2.8125rem )) {
    .menu__list {
      gap: clamp( 0.625rem , -0.1704545455rem  +  3.9772727273vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.1704545455rem  +  3.9772727273vw , 2.8125rem )) {
    .menu__list {
      gap: calc(0.625rem + 2.1875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5227272727rem  +  1.1363636364vw , 1.375rem )) {
    .menu__item {
      font-size: clamp( 0.75rem , 0.5227272727rem  +  1.1363636364vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5227272727rem  +  1.1363636364vw , 1.375rem )) {
    .menu__item {
      font-size: calc(0.75rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .footer__logo {
      font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .footer__logo {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.25rem )) {
    .footer__contents {
      gap: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.25rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.5681818182rem  +  9.0909090909vw , 6.25rem )) {
    .footer__contents {
      gap: calc(1.25rem + 5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .connection {
      font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
    .connection {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem )) {
    .welcome__page {
      padding-top: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.9772727273rem  +  11.3636363636vw , 12.5rem )) {
    .welcome__page {
      padding-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem )) {
    .welcome__content {
      gap: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem );
    }
}

@supports not (gap: clamp( 5rem , 3.8636363636rem  +  5.6818181818vw , 8.125rem )) {
    .welcome__content {
      gap: calc(5rem + 3.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .welcome__block-title {
      padding: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
    }
}

@supports not (padding: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
    .welcome__block-title {
      padding: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.5rem , 1.1363636364rem  +  11.8181818182vw , 10rem )) {
    .welcome__title {
      font-size: clamp( 3.5rem , 1.1363636364rem  +  11.8181818182vw , 10rem );
    }
}

@supports not (font-size: clamp( 3.5rem , 1.1363636364rem  +  11.8181818182vw , 10rem )) {
    .welcome__title {
      font-size: calc(3.5rem + 6.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 7.3863636364rem  +  -5.6818181818vw , 6.25rem )) {
    .welcome__btn {
      margin-bottom: clamp( 3.125rem , 7.3863636364rem  +  -5.6818181818vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 7.3863636364rem  +  -5.6818181818vw , 6.25rem )) {
    .welcome__btn {
      margin-bottom: calc(6.25rem + -3.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .info__container {
      margin-top: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .info__container {
      margin-top: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.0568181818rem  +  3.4090909091vw , 2.5rem )) {
    .info__container {
      padding-top: clamp( 0.625rem , -0.0568181818rem  +  3.4090909091vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.0568181818rem  +  3.4090909091vw , 2.5rem )) {
    .info__container {
      padding-top: calc(0.625rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-top: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .about-us__container {
      margin-top: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .about-us__container {
      margin-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 1.875rem , 4.4318181818rem  +  -3.4090909091vw , 3.75rem )) {
    .about-us__list {
      gap: clamp( 1.875rem , 4.4318181818rem  +  -3.4090909091vw , 3.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , 4.4318181818rem  +  -3.4090909091vw , 3.75rem )) {
    .about-us__list {
      gap: calc(3.75rem + -1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .about-us__list {
      padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .about-us__list {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
    }
}
}

.webp .banner-team{ background: url(../img/teambg.webp) 0 100%/cover no-repeat; }

.webp .banner-portfolio{ background: url(../img/portfoliobg.webp) 0 100%/cover no-repeat; }